<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>9001095961-pvcdfmsl3t0uvlh904ttdg6ood4melk7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.9001095961-pvcdfmsl3t0uvlh904ttdg6ood4melk7</string>
	<key>API_KEY</key>
	<string>AIzaSyDCMV8YWYvhMt7ei6PGaiV4leShrn_6H5Q</string>
	<key>GCM_SENDER_ID</key>
	<string>9001095961</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myBookLibrary</string>
	<key>PROJECT_ID</key>
	<string>my-tech-library</string>
	<key>STORAGE_BUCKET</key>
	<string>my-tech-library.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:9001095961:ios:5aba67993ffacc6585eb88</string>
</dict>
</plist>